name: "Terraform"

on:
  push:
    branches:
      - master
  pull_request:
  pull_request_review_comment:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@master
        id: check
        with:
          trigger: '#apply'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Terraform Auto-apply
        if: steps.check.outputs.triggered == 'false'
        run: exit 1
